[
  {"keys": ["alt+l"],  "command": "open_dir", "args": {"dir": "$file_path", "file": "$file_name"} },
  {"keys": ["ctrl+shift+r"], "command": "reindent", "args": {"single_line": false}},
  {"keys": ["alt+`"],  "command": "show_panel", "args": {"panel": "output.exec"} },
  {"keys": ["ctrl+1"], "command": "open_file", "args": {"file": "C:/Dropbox/invest/shares/2021/2021.03.invest.notes"}},
  {"keys": ["ctrl+2"], "command": "open_file", "args": {"file": "C:/Dropbox/Andrew/tax/2021/NET_2021.txt"}}
]
