[
  {"keys": ["alt+l"], "command": "open_dir", "args": {"dir": "$file_path", "file": "$file_name"} },
  {"keys": ["ctrl+shift+r"], "command": "reindent", "args": {"single_line": false}},
  {"keys": ["ctrl+1"], "command": "favorite_files_open"},
  {"keys": ["ctrl+2"], "command": "favorite_files_add"},
  {"keys": ["ctrl+3"], "command": "open_file", "args": {"file": ""}},
  {"keys": ["ctrl+4"], "command": "open_file", "args": {"file": "F:\\Dropbox\\Andrew\\game\\legionNotes.txt"}},
  {"keys": ["ctrl+5"], "command": "open_file", "args": {"file": "F:\\git\\vue\\archive\\vueNotes.js"}},
  {"keys": ["ctrl+6"], "command": "open_file", "args": {"file": ""}},
  {"keys": ["ctrl+7"], "command": "open_file", "args": {"file": "F:\\Dropbox\\projects\\craftsmansJournal\\craftsman.js"}}
]
